*{
    margin:0px;
    padding :0px;
}

.pachhadi{
    position : fixed;
    width :100%;
    height :100vh;
    background-color: rgba(10, 70, 50 ,1);
}

.background_img{
    
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../public/images/marvel.jpeg");
    background-size: cover;
    opacity :0.03;
   
 } 
.backg{
    
    position: relative;
    width:70%;
    margin-left :230px;
    height : 100%;
    background-color:rgb(10,70,50);
    border-style: solid;
    border-color:white;
    border-width:2px;
}

.cardformp{
    position : relative;
    width:80%;
    display: flex;
    margin-top: 100px;
    margin-left:100px;
    margin-bottom: 100px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgba(240, 248, 255, 0.47);
    box-shadow: 5px 5px 10px  black;
}
.cardformp:hover{
    box-shadow: 2px 2px 2px 2px aliceblue;
}

.imageformp img{ 
    width: 250px;
    height:100%;
    border-bottom: 3px;
    border-style:solid;
    border-radius:5px;
    border-color:aliceblue;
    overflow: hidden;
} 
/* .des{
    color: black;
} */
.titlfomp{
    color:rgba(240, 248, 255, 0.666);
    text-align: center;
    
}
.cardtitlemp{
    color: rgba(240, 248, 255, 0.778);
    margin-left :140px;
    margin-top :20px;
}
.desmp{
    color: rgba(240, 248, 255, 0.778);
    margin-top: 50px;
    margin-left:20px;
    overflow:hidden;
    
} 
 .likebutton{
        color : aliceblue;
        position:absolute;
        bottom :50px;
        right :30px;
        transition: transform 0.2s; 
}
.likebutton :hover{
    transform: scale(1.2);
}
.likeCount{
    color : aliceblue;
        position:absolute;
        bottom :20px;
        right :40px;
        font-size: 16px;
}


.likebuttonclicked{
    color :red;
    position:absolute;
    bottom :50px;
    right :30px;
}
.searchbar{
    margin-top :100px;
    margin-left:10%;
    height: 50px;
    width:80%;
    background-color: rgb(0,0,0);
    border-radius: 20px;
    border-style:solid;
    border-color: aliceblue;
    align-items: center;
    color: aliceblue;
  } 
  .searcht{
   position:relative;
   z-index:1;
   width:600px;
   background-color: transparent;
   border:0;
   outline:none;
   padding-left: 100px;
   padding-top: 10px;
   font-size: 25px;
   overflow: visible;
   color: aliceblue;
  }
 .searchb{
   padding-left:30px;
   padding-top: 4px;
   width:15px;
   height:15px;
   color: rgba(240, 248, 255, 0.737);
 }
 .logoutButton{
    margin-left: 500px;
    margin-top : 20px;
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(240, 248, 255, 0.722);
    
 }
 .logoutButton:hover{
    box-shadow: 1px 1px 1px 1px rgba(240, 248, 255, 0.662);
 }
 